body
{
  background: #FFF5EE url("https://github.com/saaravan/Portfolio/blob/master/images/header2.jpg?raw=true") repeat-x;
}

#wrap
{
  width:700px;
  margin:0px auto 15px auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  color: #8B008B;
}

/* Header */
.header
{
  height:242px;
  background:url("Portfolio/images/header.jpg") no-repeat left top;
  clear: both;
}

/*Content*/
#content
{
  background-color: #808000;
}

#mainpage
{
  width:700px;
  float:left;
  padding:5px 5px 5px 0px;
  height:auto;
}

#mainpage p
{
  line-height:22px;
  margin:10px 0px 22px 0px;
  text-align: center;
  color:red;
}

#mainpage blockquote
{
  background:#FFDEAD;
  display:block;
  margin: 5px;
  font:Georgia, "Times New Roman", Times, serif;
  font-style:italic;
}

h1, h2, h3, h4, h5
{
  color:#C71585;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
}

#mainpage h1
{
  font-size:24px;
  color: #20B2AA;
  text-align:center;
}

#mainpage h2
{
  font-size:18px;
  padding-top:20px;
  padding:10px;
  border:2px solid #C71585;
  text-align:center;
}
