body
{
  background: #f2f2f2 url("https://github.com/saaravan/Portfolio/blob/master/images/header2.jpg?raw=true") repeat-x;
}

#wrap
{
  width:700px;
  margin:0px auto 15px auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
}




/* Header */
#header
{
  height:242px;
  background:url("Portfolio/images/header.jpg") no-repeat left top;
  clear: both;
}

h1
{
	text-align:center;
}




/*Header Menu*/
#topmenu 
{
	display:block;
	list-style:none;
	padding:0 0px 0px 278px;
	float: right;
	width: 415px;
	background: #000000 url("https://github.com/saaravan/Portfolio/blob/master/images/header2.jpg?raw=true");
	/*background-color:black;*/
	position: fixed;
	border: 4px dashed #ffffff;
}

#topmenu li 
{
	display:inline;
}

#topmenu a 
{
	display:block;
	float:left;
	height:28px;
	margin:0px 0px 0px0px;
	text-decoration:none;
	padding:9px 15px 0px 15px;
	text-align:center;
}

#topmenu a, #topmenu a:visited, #topmenu a:active 
{
	color:#ffffff;
}

#topmenu a:hover{
	color:#ffffff;
	background-color: #2b2b2b;
}

#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active
{
	color:#FFFFFF;
	background-color: #2b2b2b;
}




/*Content*/
#content
{
	background-color: #808000;
}

#mainpage
{
	width:700px;
	float:left;
	padding:5px 5px 5px 0px;
	height:auto;
}

#mainpage p
{
	line-height:22px;
	margin:10px 0px 22px 0px;
	text-align: justify;
	color:#333333;
}

#mainpage blockquote
{
	background:#FFDEAD;
	display:block;
	margin: 5px;
	font:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}

h2, h3, h4, h5
{
	color:#262626;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	text-align:right;
}

#mainpage h1
{
	font-size:48px;
	color: #3a3a3a;
}

#mainpage h2
{
	font-size:18px;
	padding-top:20px;
	padding:10px;
	border:1px solid #e2d1c5;
	align:right;
	background: #bbe8ed url("https://github.com/saaravan/Portfolio/blob/master/images/header2.jpg?raw=true");
}




/*footer*/
#footer 
{
	margin:0 auto;
	width:685px;
	height:20px;
	padding:10px;
	color:#FFFFFF;
	text-align: center;
	background:#333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	clear: both;
}

#topbar
{
	height:78px;
}



/*tables*/
table
{
	border-spacing:5px;
}

table th, td
{
	border: 1px solid #2b2b2b;
	color: #000000;
	padding:15px;
	background-color:#bbe8ed;
}

th
{
	text-align:left;
}

#map
{
	height: 500px;
	width:100%;
}

canvas
{
	border: #4b6975 1px solid;
}

p
{
	background: #e0dad5;	
	border: #c9c0b9 3px;
	padding: 5px 20px;
	margin: 5px;
}

ul, ol
{
	background: #e0dad5;	
	border: #c9c0b9 3px;
	padding: 5px 20px;
	margin: 5px;
}

iframe
{
margin:auto;	
}
